* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

:root {
    --font-size-nav: 1.2rem;
    --transparency: 0.4;
    --transparency2: 0.65;
    --transparency3: 0.35;
    --transparency4: 0.85;
    --color-rainbow: linear-gradient(45deg in lch, rgba(255, 0, 0, var(--transparency)), rgba(255, 165, var(--transparency)), rgba(248, 248, 26, var(--transparency)), rgba(0, 128, 0, var(--transparency)), rgba(173, 216, 230, var(--transparency)), rgba(0, 0, 255, var(--transparency)), rgba(128, 0, 128, var(--transparency)));
}

:root.light {
    /* Light Mode Colors */
    --color-text: #000000;             /* Black text */
    --color-background: #FFFFFF;   
    --color-input: #d3d3d3; /* White background */
    --color-nav-background: #F8F9FA;   /* Light grey nav background */
    --color-footer-background: #F1F3F5;/* Slightly darker grey footer background */
    --color-main-background: #FFFFFF;  /* White main background */
    --color-card-background: #FFFFFF;  /* White card background */
    --color-func-header-row-2:#ffbf00;
}

:root.dark {
       /* Dark Mode Colors */
       --color-text: #e1e1e1;              /* White text */
       --color-input: #424242;
       --color-background: #121212;        /* Dark background */
       --color-nav-background: #272727;    /* Darker nav background */
       --color-footer-background: #1A1A1A; /* Darker footer background */
       --color-main-background: #1e1e1e;   /* Dark main background */
       --color-card-background: #1E1E1E;   /* Dark card background */
       --color-func-header-row-2:#45475c;
}



input, button {
    all: unset;
}

button {
    display: flex;
    align-items: center;
}

button, img, span[class*="material"], li {
    cursor: pointer;
}

li:hover {
    background: rgb(255, 8, 0);
    background-clip: text;
    color: transparent;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 15rem;
    background-color: var(--color-main-background);
}

.content {
    display: flex;
}

a:link {
    color: var(--color-text);
    text-decoration: none;
}

.header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-nav-background);
    max-height: fit-content;
    padding: 0.75rem;
}

.site-brand, .site-brand span {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.invert{
    filter: invert(1);
}

.func-header div,ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-header > li {
    padding: 0.25rem 1rem;
    font-size: var(--font-size-nav);
}

.form-wrapper {
    border-radius: 5px;
    background-color: var(--color-input);
    padding: 0.15rem 0.5rem;
    gap: 10rem;
}

.profile {
    gap: 1rem;
}

.func-header {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.func-header-row-1 {
    flex: 1;
    gap: 3rem;
}

.func-header-row-2 {
    flex: 1;
    border-radius: 5px;
    background-color: var(--color-func-header-row-2);
}

.user-profile-pic {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 50px;
}

.top-week {
    border-top: 3px solid gold;
    border-radius: 3px 0px 0px 0px;
    margin-bottom: 1rem;
}

.auto-scroll-bar {
    margin-top: 1rem;
    overflow: hidden;
}

.scroll-bar-wrap {
    display: flex;
    padding-left: 30px;
    justify-content: flex-start;
    gap: 50px;
    transform: translate3d(var(--offset), 0px, 0px);
    transition: 1000ms;
}


.scroll-buttons {
    position: absolute;
    top: 190px;
    display: flex;
    /* justify-content: space-between; */
}


.right-scroll {
    opacity: 0.35;
    position: absolute;
    left: calc(100vw - 522px);
    transition: all 300ms;
    cursor: pointer;
}

.left-scroll {
    transition: all 300ms;
    cursor: pointer;
    opacity: 0.35;
}

.right-scroll:hover, .left-scroll:hover {
    opacity: 1;
    transition: all 300ms;
}

.scroll-buttons>div {
    background: #424242;
    width: fit-content;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-info {
    padding: 0.25rem 0rem;
    background: var(--color-card-background);
    position: absolute;
    top: 67%;
    width: 150px;
    opacity: 0;
    z-index: -1;
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.actions {
    align-self: flex-end;
}

.book {
    position:relative;
}

.book:hover .book-info {
    z-index: 3;
    opacity: 0.8;
    transition: all 300ms;
    /* top: 327px; */
}

.actions>span {
    opacity: 0;
    /* transition: all 200ms; */
}

.book:hover .actions>span {
    opacity: 1;
    transition: all 200ms;
}

.top-week>h2 {
    border-radius: 0px 0px 0px 3px;
    background-color: gold;
    display: inline-block;
    padding: 0.15rem 1rem;
}

.top-week img {
    width: 150px ;
}

.main {
    flex: 2 1 auto;
    border-radius: 3px 0px 0px 0px;
    border-top: 3px solid rgb(0, 217, 255);
}

.main>h2 {
    border-radius: 0px 0px 0px 3px;
    background-color: rgb(0, 217, 255);
    display: inline-block;
    padding: 0.15rem 1rem;
}

.latest-updates {

    background-color: var(--color-main-background);
    display: grid;
    margin: 0rem 1.75rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1rem;
}

.book-card {
    padding: 0.75rem;
    display: flex;
    background-color: var(--color-card-background);
}

.book-cover {
    width: 110px;
}

.right-side-bar {
    flex: 1 1 auto;
}

.footer {
    background-color: var(--color-footer-background);
    margin-top: auto;
}

.add-book {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}